<div class="span3">

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{  path('publierVelos_index')  }}">Liste de mes velos</a> 
            </li>
            <li>
                <a href="{{ path('publierVelos_new') }}">Ajouter un nouveau velo</a>
            </li>
        </ul>
    </div>      
</div>